nav {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
}

nav > .logo {
  display: flex;
  align-items: center;
  gap: 10px;
  color: rgba(26, 26, 26, 0.71);
  cursor: pointer;
}

nav > .logo > h2 {
  text-align: right;
  font-size: 35px;
  font-weight: 400;
  line-height: 21px;
}

nav > .items {
  display: flex;
  align-items: center;
  gap: 20px;
}

nav > .items > a {
  text-decoration: none;
  color: #2a2a2a;
  font-size: 15px;
}
