.product_container{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.product_container>div{
    border-radius: 10px;
    overflow: hidden;
    transition: all .3s ease;
    box-shadow: rgba(60, 60, 60, 0.16) 0px 1px 1px;

}

.product_container>div>div{
    padding: 15px;
}

.product_container>div:hover{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 6px;
}